.Content {
    display: flex;
}

.Details .content .text,
.Details .content .image {
    padding:15px;
}

@media only screen and (max-width: 600px) {
    .Content {
        flex-direction: column;
    }
  }