.App {
  text-align: center;
}


.container{
  display: flex;}
  .item{
    flex: 1;
    border: 1px solid green;
    position: relative;
  }

  .overlay{
    display:none;
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    background-color: rgb(208, 211, 43);
    opacity: 5;
  }
  .item:hover .overlay{
    display: block
  }

  @media only screen and (max-width: 600px) {
    .container{
      flex-direction: column
      ;
    }
  }