.App {
  text-align: center;
}


.container{
  display: flex;}
.item{
  flex: 1;
  border: 1px solid green;
  position: relative;
  overflow: hidden;
}

.overlay{
  transition: bottom ease 1s;
  position:absolute;
  bottom:-100px;
  left:0;
  width:100%;
  background-color: rgb(208, 228, 26);
  opacity: 0.6;
  }
.item:hover .overlay{
  opacity: 0.6;
  bottom:0;
}

@media only screen and (max-width: 600px) {
.container{
  flex-direction: column
  ;
}
}